{
  "singleQuote": true,
  "trailingComma": "all",
  "overrides": [
    {
      "excludeFiles": ["dist/*.*", "coverage/*.*"],
      "files": ["*.ts", "*.mts"],
      "options": {
        "parser": "typescript"
      }
    }
  ]
}
